# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/
*.csproj.user

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp
bin
obj

# JetBrains Rider
*.sln.iml